body { margin:0 ; padding:0; background-color:#808080 }

table.shots { border-collapse:collapse ; margin-bottom:20px; background-color:#777777 }

img.slideshot { margin:1px ; border: 1px solid #000000 ; margin:2px }
td.shots_odd { margin:0px ; padding:4px; background-color:#808080 }
td.shots_even { margin:0px ; padding:4px; background-color:#777777 }
th.shots_odd { margin:0px ; padding:4px; background-color:#808080; color:#efffff }
th.shots_even { margin:0px ;  padding:4px; background-color:#777777; color:#efffff }



